form {
  width: 60%;
  background-color: blue;
  font-family: "Lucida Sans";
  border: yellow;
  border-radius: 10% 70% 10%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px;
  font-size: xx-large;
  font-family: "Lucida Sans";
  border-radius: 10% 70% 10%;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://bigslam.pt/wp-content/uploads/2018/03/00.jpeg);
  width: auto;
  border-radius: 10% 70% 10%;
}
button {
  color: rgb(0, 255, 98);
  background-color: violet;
  font-size: x-large;
  border-bottom: violet;
  border-radius: 90% 10% 50%;
}
p {
  font-size: x-large;
  color: rgb(0, 255, 64);
  font-family: "Franklin Gothic Medium";
  display: flex;
  justify-content: center;
}
