form {
  width: 50%;
  background-color: blue;
  font-family: "Lucida Sans";
  border-style: solid;
  box-shadow: yellow;
  border-radius: 10% 10% 10%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px;
  font-size: xx-large;
  font-family: "Lucida Sans";
  border-radius: 10%;
  background-color: yellow;
  
}

body {
  width: 50%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://encrypted-.gstatic.com/images?q=tbn:ANd9GcRSJvw7oxXg_2piq-eKKCA92P1Rco8sdXh3c4MsDuLMUT3uuJ_y5wzjB0ZVpfzp8f0dbwbVL3erlzIsjluC3qnrZRQeEvOkUEtQP6R5iA&s=10);
  width: auto;

}
button {
  color: rgb(0, 255, 98);
  background-color: violet;
  font-size: xx-large;
  border-bottom: violet;
  border-radius: initial;
  border-radius: 10%;
}
p {
  font-size: xx-large;
  color: rgb(17, 0, 255);
  font-family: "Franklin Gothic Medium";
  display: flex;
  justify-content: center;
}
